<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="EmailClient" value="mail.tpgcode.com" />
  <add key="EmailUser" value="admin@tpgcode.com" />
  <add key="EmailPass" value="P@ssw0rd" />
  <add key="EmailTo" value="titleist315@gmail.com" />
  <add key="owin:AppStartup" value="MyPersonalSite.Startup,MyPersonalSite" />
</appSettings>
