@model MyPersonalSite.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<div class="text-center" id="scroll">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Your Email has been recieved. Thank you.</h1>
    <br />
    <h2>I'll be in touch with you soon</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>

