@{
    ViewBag.Title = "Home Page";
}
<section id="about" class="about">
    <div class="container" style="color:white; background-color: rgb(14,22,32); border:1rem solid rgb(14,22,32); border-radius:1%;">

        <div class="section-title" data-aos="fade-up">
            <h2>About Me</h2>
            <p>Some programming skills and hobbies of mine.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <div class="image">
                    <img src="~/Content/assets/img/headshot.jpg"  class="img-fluid" alt=""/>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                    <h3>Taylor Patrick Griffin</h3>
                    <p class="fst-italic">
                       I'm a full stack web developer in the .net framework. I'm self taught in a few of the core web development languages and later attended Centriq to get official training. Below are a list of the technologies I feel proficient in.
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> C#</li>
                        <li><i class="bx bx-check-double"></i> JavaScript</li>
                        <li><i class="bx bx-check-double"></i> HTML</li>
                        <li><i class="bx bx-check-double"></i> CSS</li>
                        <li><i class="bx bx-check-double"></i> MVC .Net</li>
                    </ul>
                    <p>
                       Outside of programming I like playing golf, video games, going to concerts, and eating good food. Most of my time goes towards hanging out with my dog though. His name is Alfredo and he is my best friends. In my projects section there is a Store Front website that was inspired by him. 
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->







