
@{
    ViewBag.Title = "Resume";
}

<section id="pricing" class="pricing section-bg" style="background-color: black;">
    <div class="container" id="scroll">

        <div class="section-title" data-aos="fade-up">
            <h2>R&eacute;sum&eacute;</h2>
            <p>Click for .pdf</p>
        </div>

        <div class="row">

            

           

            <div class="justify-content-center d-flex">
                <a href="~/Content/my resume.pdf">
                    <div class="box" data-aos="zoom-in" style="border: 3rem solid rgb(14,22,32);" data-aos-delay="100">

                        <img src="~/Content/resume (2).jpg" />

                    </div>
                </a>
            </div>

        </div>

    </div>
</section>
