
@{
    ViewBag.Title = "Team";
}

<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>Links to personal sites of the awesome team I worked with at Centriq</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/brandon.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fas fa-window-maximize"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>
                           
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Brandon Mitchell</h4>
                        <span>Chief Executive Officer</span>
           
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/carter.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fas fa-window-maximize"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>
                           
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Carter Croft</h4>
                        <span>Product Manager</span>
               
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/edward.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fas fa-window-maximize"></i></a>
                            <a href=""><i class="fab fa-github"></i></i></a>
                            
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Edward Barrier</h4>
                        <span>CTO</span>
                    
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/jordanhickman.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fas fa-window-maximize"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>
                           
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jordan Hickman</h4>
                        <span>CTO</span>
                   
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/wes.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="fas fa-window-maximize"></i></a>
                            <a href=""><i class="fab fa-github"></i></a>
                           
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Wes Nelson</h4>
                        <span>CTO</span>
                     
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

